@page "/legal"
<h2>Copyright Notice</h2>
<p>This page serves as a formal declaration of copyright pertaining to the contents of Casey Universe D.O.C. and related materials created by Tony Bark.</p>
<p>All works within the Casey Universe D.O.C. are hereby declared to be under the <a href="legal/license">Creative Common 0 (CC0) license</a>, which effectively waives all copyright restrictions and allows for unrestricted use, distribution, and modification of the content without attribution or compensation.</p>
<p>However, it is important to note that some of the works within the Casey Universe D.O.C. were created as part of the former Z-Artists Club, which no longer exists. These works, as well as any collaborative works in which they are properly credited to the original artist, remain the sole property of their respective owners, and are still subject to copyright protection.</p>
<p>As such, the Casey Universe D.O.C. serves as an archive for the works created as part of the former Z-Artists Club, and any use or reproduction of these works must be done with the express permission of their respective owners.</p>
<p>I take copyright seriously and respect the rights of all artists and creators. If you believe that your copyrighted material has been used within the Casey Universe D.O.C. without proper attribution or permission, please contact me immediately to resolve the issue.</p>
<p>Thank you for your understanding and cooperation in upholding the principles of copyright law.</p>