<div class="topnav">
    <span><img src="images/doc_logo.png" /></span>
    <a href="/">Home</a>
    <a href="/gallery">Gallery</a>
    <a href="comics.html">Comics</a>
    <a href="animations.html">Animations</a>
    <a href="wallpaper.html">Wallpaper</a>
    <a href="links.html">Links</a>
</div>

@code {

}

