@page "/stories"

    <div class="row">
        <div class="column">
            <p align="center">
                <Thumbnail Path="stories" Source="ferret_girl.png" />
                <br />
                Original: Parts <a href="/stories/ferretgirl/part1">1</a> and <a href="/stories/ferretgirl/part2">2</a>
                <br />
                Rewrite: Chapters <a href="/stories/ferretgirl/rewrite/chap1">1</a> and <a href="/stories/ferretgirl/rewrite/chap1">2</a>
            </p>

        </div>
    </div>