@page "/stories"
<DynMeta Name="Stories" />
<div class="row">
    <div class="column">
        <p align="center">
            <Thumbnail Path="thumbnails"
                       Width="ThumbWidth.LARGE"
                       Source="tn_ferret_girl.png"
                       Caption="Picture by Carlis Moore" />
            <br />
            Original: Parts <a href="/stories/ferretgirl/part1">1</a> and <a href="/stories/ferretgirl/part2">2</a>
            <br />
            Rewrite: Chapters <a href="view/7567">1</a> and <a href="view/9268">2</a>
        </p>

    </div>
</div>