@page "/stories"
<div class="row">
    <div class="column">
        <p align="center">
            <Thumbnail Path="thumbnails"
                       Width="ThumbnailWidth.Large"
                       Source="tn_ferret_girl.png"
                       Caption="Picture by Carlis Moore" />
            <br />
            Original: Parts <a href="/stories/ferretgirl/part1">1</a> and <a href="/stories/ferretgirl/part2">2</a>
            <br />
            Rewrite: Chapters <a href="/stories/ferretgirl/rewrite/chap1">1</a> and <a href="/stories/ferretgirl/rewrite/chap1">2</a>
        </p>

    </div>
</div>