@page "/animations"
@inject HttpClient http
@using CaseyUniverse.DOC.Models
<DynMeta Name="Animations" />
@if (_animations == null)
{
    <LoadingBar />
}
else
{
    <div class="row">
        @foreach (var animation in _animations)
        {
            <div class="column">
                <VidThumb Source="@animation.Filename" Thumbnail="@animation.Thumbnail" />
            </div>
        }
    </div>
}

@code {
    List<Videos> _animations = new List<Videos>();

    protected override async Task OnParametersSetAsync()
    {

        // Obtain the CSV file containing the image path and ID
        var db = await http.GetStreamAsync(GlobalConsts.ANIMATIONS_CSV);
        var images = SiteHelper.ImagesFromPath(db, "animations");
    }
}