@page "/animations"
<SmartTitle Name="Animations" />
<h2>Animations</h2>
<div class="row">
    <div class="column">
        <p align="center">
            <VidThumb Source="school.gif" Thumbnail="school.png" />
        </p>
    </div>
    <div class="column">
        <p align="center">
            <VidThumb Source="attack_of_the_video_games.gif" Thumbnail="attack_video_games.png" />
        </p>
    </div>
</div>
