@page "/animations"
<DynMeta Name="Animations" />
<div class="row">
    <div class="column">
        <p align="center">
            <VidThumb Source="a_dog.gif" Thumbnail="if_i_were_a_dog_poster.png" />
        </p>
    </div>
    <div class="column">
        <p align="center">
            <VidThumb Source="attack_of_the_video_games.gif" Thumbnail="attack_video_games_poster.png" />
        </p>
    </div>
    <div class="column">
        <p align="center">
            <VidThumb Source="not_a_puppy.gif" Thumbnail="not_a_puppy_poster.png" />
        </p>
    </div>
</div>
