@page "/club"
<DynTitle Name="Club Classic" />
<p>Club classic is the Z-Artists club portal. Under the name classic due to its location and recent troubles in life.</p>
<p>In the not so far future the Club will be the community centre for new things to come... not just souly related to Z eathier.</p>