@page "/comics"
<h2>Comics</h2>
<div align="center">
    <p><img src="images/comics/can_i_play.png" width="563" height="229" border="0" /></p>
    <i class="fa-solid fa-arrow-left"></i> <i class="fa-solid fa-arrow-right"></i>
</div>
