@page "/comics"
<DynTitle Name="Comics" />
<h2>Comics</h2>
<div align="center">
    <p><img src="images/comics/can_i_play.png" width="563" height="229" border="0" /></p>
    <span class="fa-solid fa-arrow-left"></span> <span class="fa-solid fa-arrow-right"></span>
</div>
