@page "/comics"
<DynMeta Name="Comics" />
<div align="center">
    <p><img src="images/comics/can_i_play.png" width="563" height="229" border="0" /></p>
    <FontAwesome Solid="true" Icon="arrow-left" /> <FontAwesome Solid="true" Icon="arrow-right" />
</div>
