@page "/dev"
<h2>Developer Center</h2>
<div class="row">
    <div class="column">
        <p>Much like the original DOC, there was a <a href="view/screenshots/fbdj_dev_center.png">developer center</a> meant for creating web apps. At the time, these were targetted at the iPhone, back <a href="https://web.archive.org/web/20071014041717/http://www.apple.com/webapps/">before the App Store</a>, when the concept of a "web application" was only just emerging. A mobile version of Furry Blue DJ attempted but it never developed father than that once the App Store launched.</p>
        <p>While DOC isn't designed to be used as a web application, it does still make use a lot of advanced underlining technologies that allow for it. So, having some back-end system information is nice to have for debugging purposes.</p>
    </div>
    <div class="column">
        <h3>Change Log</h3>
        <p>v2023.3.2<br />- Support for animations<br />- Ported over stories from unreleased v2 Furry Blue DJ website<br />- Used ChatGPT to rewrite Curse of the Ferret Girl in the form of prose</p>
        <p>v2023.3.1<br /><br />- Migrated to .NET and Blazor WebAssembly for better maintainability<br />- Repurposed Model Sheets page to Characters<br />- Moved menu from side to the header<br />- Removed disable right click functionality<br>- More featured images!</p>
        <p>
            v2007.12<br /> - Updated the layout.<br />
            - Gallery, Comics, and Model Sheet pages have been redesigned.<br />
            - Much more cleaer and/or shorter descriptions.
        </p>
    </div>
</div>