@page "/gallery"
@inject HttpClient http
<DynMeta Name="Gallery" />
@if (_isReady)
{
    <div class="row">
        @foreach (var submission in _submissions)
        {
            <div class="column">
                <GalleryThumb Source="@submission" />
            </div>
        }
    </div>
}
else
{
    <LoadingBar />
}

@code {
    List<string> _submissions = new List<string>();
    bool _isReady = false;

    async Task PopulateGallery()
    {
        // Obtain the CSV file containing the image path and ID
        var db = await http.GetStreamAsync(GlobalConsts.GALLERY_CSV);
        var records = SiteHelper.DatabaseRecords<Gallery>(db);
        var files = new List<string>();

        foreach (var record in records)
        {
            _submissions.Add(record);
        }

    }

    protected override async Task OnParametersSetAsync()
    {


        // Set the flag to indicate that the component is ready
        _isReady = true;
    }
}

