@page "/gallery"
<h2>Gallery</h2>
<div align="center">
    <p><Submission Source="4th_of_july.png" /> <Submission Source="a_random_hug.png" /> <Submission Source="adorable_z_colored.png" /> <Submission Source="alex.png" /> <Submission Source="beach_photo.png" /> <Submission Source="beach_time.png" /> </p>
    <p><Submission Source="black_and_white.png" /> <Submission Source="boxers_of_america.png" /> <Submission Source="cat_z.png" /> <Submission Source="Cirria.png" /> <Submission Source="cookie.png" /> <Submission Source="crazy_artist.png" /></p>
    <p><Submission Source="do_the_bunni.png" /> <Submission Source="Doom_Flakes.png" /> <Submission Source="Doom_Flakes_-_Popochi.png" /> <Submission Source="evil_mouse_XD.png" /> <Submission Source="evil_mw77.png" /> <Submission Source="for_sam.png" /></p>
    <p><Submission Source="Friaser.png" /> <Submission Source="fried_brain.png" /> <Submission Source="gir.png" /> <Submission Source="her_butt_blew_up.png" /> <Submission Source="it_itchs.png" /><Submission Source="it_itchs_-_remix.png" /></p>
    <p><Submission Source="killed_sally.png" /> <Submission Source="kim.png" /> <Submission Source="link_gets_a_hug.png" /> <Submission Source="megawolf.jpg" /><Submission Source="mw77.png" /> <Submission Source="my_tail.jpg" /></p>
</div>


@code {

}

