@page "/gallery"
@inject HttpClient http
<DynMeta Name="Gallery" />
@if (_submissions == null)
{
    <LoadingBar />
}
else
{
    <div class="row">
        @foreach (var submission in _submissions)
        {
            <div class="column">
                <GalleryThumb Source="@submission" />
            </div>
        }
    </div>
}

@code {
    List<string> _submissions = new List<string>();

    protected override async Task OnParametersSetAsync()
    {

        // Obtain the CSV file containing the image path and ID
        var db = await http.GetStreamAsync(GlobalConsts.GALLERY_CSV);
        var images = SiteHelper.ImagesFromPath(db, "gallery");
        var buddy = "be_my_buddy.png";

        // Temporarily remove Be My Buddy, due to size issues
        if (images.Contains(buddy))
            images.Remove(buddy);

        _submissions = images;
    }
}

