@page "/"
<div>
    <div align="center">
        <Featured />
    </div>

    <div class="welcome">
        <table border="0">
            <tr>
                <td>
                    <div>
                        <p><img src="images/doc_logo_fbdjv.png" class="welcome" /></p>
                    </div>
                </td>
                <td valign="top">
                    <div>
                        <div align="center"><img src="images/cartoons_trust.png" /></div>
                        <div class="welcome">
                            <p>Inspired by Cartoon Network's old <a href="https://web.archive.org/web/20001109093600/http://www.cartoonnetwork.com/doc/">D.O.C.</a> (Department of Cartoons), Casey Universe's is home to all my old artwork, comics, stories and collaborations from the mid to late-2000s.</p><p>Stay tuned. Because it's all coming back to you!</p>
                        </div>

                    </div>
                </td>
                <td>
                    <div>
                        <p><img src="images/hp_docwelcome.png" class="welcome" /></p>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>