@page "/music"
<DynMeta Name="Music" />
<h2>The Fur Factor</h2>
<div class="row">
    <div class="column">
        <DynImg Source="gallery/fur_factor_hd.png" />
        <div class="row">
            <div class="column">
                <p>Fur Factor</p>
                <AudioPlayer Source="the_fur_factor.mp3" />
            </div>
            <div class="column">
                <p>Legacy of Furs</p>
                <AudioPlayer Source="legacy_of_furs.mp3" />
            </div>
            <div class="column">
                <p>Darkness 2007</p>
                <AudioPlayer Source="darkness_2007.mp3" />
            </div>
        </div>
    </div>
    <div class="column">
        <p>As a teenager, I was always fascinated by music and the idea of creating my own tracks. In 2007, I finally decided to take the plunge and downloaded GarageBand on my Mac Mini. The result was The Fur Factor, a three-track EP that I created under my “Furry Blue Musician” title.</p>
        <p>The name “Fur Factor” was simply something that came to mind without any particular reason, same with the tracks, but it stuck. Unfortunately, I lost the source files when my Mac Mini stopped working, but I did backup the exported songs to the cloud and recently recovered them again. I’ve since republished them on Bandcamp and SoundCloud for free or name your price.</p>
        <p>The Fur Factor EP represents my first foray into music production, and while the tracks may not be perfect, they are an important part of my journey as a musician. Recently, I acquired a new iPad, and I’m excited to get back into music production under my Furry Blue Musician title. I’ve come a long way since my teenage years, and I’m looking forward to seeing where my music takes me in the future.</p>
        <p>In terms of licensing, the EP is currently under the CC-BY license on Bandcamp and SoundCloud, as those websites didn’t give me the option to choose a public domain waiver. However, as I created these tracks when I was a teenager, I would much prefer to waive them into the public domain.</p>
    </div>
</div>

@code {

}

