@page "/wallpaper"
<DynMeta Name="Wallpaper" />
<div align="center">
    <div class="row">
        <div class="column"><GalleryThumb Path="wallpaper" Source="feet_wallpaper.png" /></div>
        <div class="column"><GalleryThumb Path="wallpaper" Source="fbdj_wallpaper.png" /></div>
        <div class="column"><GalleryThumb Path="wallpaper" Source="mu_wallpaper.png" /></div>
        <div class="column"><GalleryThumb Path="wallpaper" Source="vector_gen_wallpaper.png" /></div>
        <div class="column"><GalleryThumb Path="wallpaper" Source="christmas_yet.png" /></div>
    </div>
</div>
<h3>Club</h3>
<div align="center">
    <div class="row">
        <div class="column"><GalleryThumb Path="wallpaper" Source="fanart_wallpaper.png" /></div>
        <div class="column"><GalleryThumb Path="wallpaper" Source="z_artists_fanclub.png" /></div>
    </div>
</div>