@page "/wallpaper"
<h2>Wallpapers</h2>
<div align="center">
    <table border="0">
        <tr>
            <td width="20%" valign="top" align="center">
                <font size="2">
                    <img border="0" src="images/wallpaper/wallpaper_tn/feet_wallpaper.png" />
                </font>
            </td>
            <td width="20%" valign="top" align="center">
                <font size="2">
                    <img border="0" src="images/wallpaper/wallpaper_tn/mu_wallpaper.png" />
                </font>
            </td>
            <td width="20%" valign="top" align="center">
                <font size="2">
                    <img border="0" src="images/wallpaper/wallpaper_tn/z_the_furry_dj_wallpaper_1024x768.jpg" />
                </font>
            </td>
            <td width="20%" valign="top" align="center">
                <img border="0" src="images/wallpaper/wallpaper_tn/is_it_christmas_wp.png" />
            </td>
        </tr>
        <tr>
            <td width="20%" valign="top" align="center">
                <span class="style7">
                    <a href="images/wallpaper/feet_wallpaper.png.zip">1024x768</a>
                </span>
            </td>
            <td width="20%" valign="top" align="center">
                <span class="style7">
                    <a href="images/wallpaper/mu_wallpaper.png.zip">800x600</a>
                </span>
            </td>
            <td width="20%" valign="top" align="center">
                <span class="style7">
                    <a href="images/wallpaper/z_the_furry_dj_wallpaper_1024x768.jpg.zip">1024x768</a>
                </span>
            </td>
            <td width="20%" valign="top" align="center">
                <span class="style7">
                    Coming Soon
                </span>
            </td>
        </tr>
    </table>
</div>
<h3>Club</h3>
<table border="0" align="center">
    <tr>
        <th width="157" scope="col"><a href="images/wallpaper/Z_artists_Fanclub_Wallpaper.zip"><img src="images/club/Z_artists_Fanclub_Wallpaper_by_Z_artists.jpeg" width="150" height="113" border="0" /></a></th>
        <th width="162" scope="col"><a href="images/wallpaper/Fanart_Wallpaper.zip"><img src="images/club/Fanart_Wallpaper_by_Z_artists.jpeg" width="150" height="113" border="0" /></a></th>
    </tr>
    <tr>
        <td><div align="center">Z-Artist's Club Wallpaper </div></td>
        <td><div align="center">Fanart Wallpaper </div></td>
    </tr>
</table> 