/* @font-face {
  font-family: "Comic Mono";
  src: local("ComicMono"),
    url("../fonts/ttf/ComicMono.ttf") format("typeface")
} */


body {
    background-image: url(../images/docbg.png);
    background-color: #003366;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.page {
    margin: auto;
    width: 90%;
    padding: 10px;
    position: relative;
    min-width: 800px;
    max-width: 1024px;
}

.container {
    min-height: 100vh;
    margin-top: 1vh;
    margin-bottom: 15vh;
}

    .container img {
        margin: 5px;
        object-fit: contain;
    }

footer {
    margin-top: 5vh;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.submission img {
    width: fit-content;
    box-sizing: border-box;
    max-width: 99%;
}

a:link {
    color: aqua;
    text-decoration: none;
}

a:visited {
    color: aquamarine;
    text-decoration: none;
}

a:hover {
    color: #ffff00;
    text-decoration: none;
}

a:active {
    color: #ffff66;
    text-decoration: none;
}

.welcome {
    height: 137px;
    padding: 5px;
}

.logo {
    margin: 5px;
}

.story {
    margin: auto;
    width: 80%;
    padding: 10px;
}

.featured {
    padding: 10px;
    height: 400px;
}

    .featured img {
        width: fit-content;
        box-sizing: border-box;
        max-height: 99%;
    }

.dbgbar {
    width: 100%;
    background-color: darkred;
    color: white;
    overflow: hidden;
}

    .dbgbar p {
        margin: 2px;
    }

/* Menu Bar */
/* Add a black background color to the top navigation */
header {
    min-width: 800px;
    max-width: 1024px;
}

.topnav {
    width: 100%;
    background-color: #000000;
    overflow: hidden;
}

    /* Style the links inside the navigation bar */
    .topnav span {
        float: left;
        text-align: center;
        padding: 10px 16px;
    }

    .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 10px 16px;
        text-decoration: none;
        /* font-weight: bold; */
        font-size: 17px;
    }

        /* Change the color of links on hover */
        .topnav a:hover {
            background-color: #BE0004;
            color: #f2f2f2;
        }

        /* Add a color to the active/current link */
        .topnav a.active {
            background-color: #ffffff;
            color: black;
        }



html:not([data-scroll='0']) header {
    position: fixed;
    top: 0;
    z-index: 1;
    /* This box-shadow will help sell the floating effect */
    padding-bottom: 2px;
}

html:not([data-scroll='0']) .topnav {
    /* This box-shadow will help sell the floating effect */
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
}
