@page "/characters/zc"
@page "/characters/zack"
@page "/characters/zackcasey"
<DynMeta Previous="Characters" Name="Zack Casey" />
<div class="row">
    <div class="column">
        <DynImg Source="gallery/z_adorable2-5.png" />
        <div class="row">
            <div class="column"><GalleryThumb Source="the_future_dj.png" CurrentPage="characters/zc" /></div>
            <div class="column"><GalleryThumb Source="zc_rev08_modelsheet.png" CurrentPage="characters/zc" /></div>
            <div class="column"><GalleryThumb Source="z_kitten_model_sheet_1.png" CurrentPage="characters/zc" /></div>
        </div>
    </div>
    <div class="column">
        <p>Zack Casey, a beloved character among my closet friends, has humble beginnings. He started as my personal fursona, a representation of myself in the form of a fox. However, as my passion for creating webcomics grew, I wanted to bring Zack to life and share him with my brother.</p>
        <p>Zack’s signature look has gone through many changes over the years. It all started with a golden forehead protector, which was actually intended to be glasses. As my style rapidly evolved, I switched to a backwards baseball cap in two styles: hair over or out of the cap. Zack has always been portrayed with blue fur, although some depictions included additional ear markings, which were technically never considered “canonical” due to my own style limitations. For a time, Zack was even depicted as a hybrid cat and fox, based on my limited ability to express anything beyond cat-like ears in my artwork. Despite the limitations, Zack’s personality shone through, often being depicted as witty and mischievous, pulling harmless pranks that quickly gained him a following.</p>
        <p>As Zack’s popularity grew, so did the formation of the Z-Artists club. Zack’s character provided a basis for a group of talented artists to come together and share their own unique takes on the character.</p>
        <p>Although the cat-fox concept was eventually dropped in favor of a fennec, the ear markings were adopted when Zack gained additional facial markings in 2023. Zack has come a long way from his humble origins as my personal fursona.</p>
    </div>
</div>
