@page "/characters/zack"
@page "/characters/zc"
<div class="row">
    <div class="column">
        <p>I can trace its origins back to my teenage years, where my love for DJ mixes and web comics sparked the creation of Zack Casey. Initially conceived as “me as a fox,” Zack’s blue fur was inspired by Little Blue Wolf and his signature backwards baseball cap paid homage to the skater and punk lifestyle of the mid-2000s and 90s, respectfully. Sporting a simple brown shirt and jeans, he was intended to be a mischievous but well-meaning character to entertain my younger half-brother. However, as when we moved away, Zack became my online identity during the latter half of the 2000s.</p>
        <p>Over time, I began to rework Zack, exploring his backstory and motivations beyond his DJ persona. I experimented with various storylines and character developments, but it wasn’t until the early 2010s that I found a direction that resonated with me. Zack was no longer just a furry blue DJ but he would become an aspiring musician studying the fine arts in college. I wanted to delve deeper into his identity, and he became an intersex male, adding a new layer of complexity to his character. He now dons a letterman jacket and a short pleated skirt, embracing his gender fluidity and individuality.</p>
        <p>As I continued to develop Zack’s character, I became fascinated with the superhero genre, particularly the transformational aspects of characters like Shazam. Zack’s journey took a new turn as I introduced elements of superheroism into his story. I wanted to avoid the logistical challenges of characters like Spider-Man, so I adopted the idea of a simple transformational phrase, allowing Zack to easily transition into his superhero persona.</p>
    </div>
</div>

