@page "/"
    <div align="center">
        <Featured />

        <div class="welcome">
            <table width="590" border="0">
                <tr>
                    <td width="200" height="177" valign="top">
                        <div align="center">
                            <p><img src="images/doc_logo_fbdjv.png" height="137" class="welcome" /></p>
                        </div>
                    </td>
                    <td width="380" valign="top">
                        <div>
                            <p><img src="images/cartoons_trust.png" width="344" height="31" /></p>
                            <p><span class="style2">Inspired by Cartoon Network's old <a href="https://web.archive.org/web/20001109093600/http://www.cartoonnetwork.com/doc/">D.O.C.</a> (Department of Cartoons) archives, Furry Blue DOC is home to all my old artwork.</span></p><p>Stay tuned. Because it's all coming back to you!</p>
                        </div>
                    </td>
                    <td width="200" height="177" valign="top">
                        <div align="center">
                            <p><img src="images/hp_docwelcome.png" class="welcome" height="137" /></p>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>