@page "/links/gt"
@page "/links/generationtrance"
<p align="center"><img src="images/gtbanner.jpg" /></p>
<p>Generation Trance, oh boy... Where to begin. This is as much a subsection of the link page as a love letter to them. As you're probably aware, the phrases "Voices of" are littered throughout anything relating to music and Zack. While much of that era is weird and random, that much is constant and intentional.</p>
<p>I had just discovered Generation Trance from Di.fm and instantly fell in love with the mixes around the same time I joined DeviantART. They're mindblowingly well made for something intended to be used at parties. Arguably to the point that some even tell a story, such as Voices of Summer 2004 Connected Love.</p>
<p>The whole concept of "The Furry Blue DJ" and the "Furry Blue" name in general wouldn't exist hadn't I discovered them around the same time I joined DeviantART. They're much a part of this history, even if it is rather indirect on their part. The idea that music mixed for parties could play a key role in changing someone's life may sound absurd and crazy, trust me I still don't get it, but that doesn't make it any less true.</p>
<p>Unfortunately, they're no longer around, but their mixes have been archived.</p>

<h3>Seasonal Mixes</h3>
<div class="row"></div>

<h3>Monthly Mixes</h3>
<div class="row"></div>