@page "/links"
    <DynTitle Name="Links" />
    <div align="center">
        <p align="left">Retrolinks, classic sites, and a whole lot of nastalgia!</p>
        <table width="676" border="0">
            <tr>
                <td width="243" valign="top">
                    <div align="center">
                        <p>
                            <a href="http://www.retrojunk.com">RetroJunk</a><br>
                            <a href="https://www.boomerang.com/">Boomarang</a>
                        </p>
                    </div>
                </td>
                <td width="243" valign="top">
                    <div align="center">
                        <p>
                            <a href="http://www.marvel.com">Marvel</a><br>
                            <a href="http://www.archive.org">Archive.org</a>
                        </p>
                        <p>&nbsp;</p>
                    </div>
                </td>
                <td width="243" valign="top"><div align="center"></div></td>
            </tr>
        </table>
        @*<p>Message <a href="https://tonybark.com/@tonytins">@tonytins@tonybark.com</a> to list your own retro site!</p>*@
    </div>

