@page "/characters/bh"
@page "/characters/blockhead"
<DynMeta Previous="Characters" Name="Block Head" />
<div class="row">
    <div class="column">
        <DynImg Source="gallery/aotg_color_ref.png" />
    </div>
    <div class="column">
        <p>Block Head, or BH, is a unique character with a blocky head and body, who served as the deuteragonist in the Attack of the Video Games comic and animation. BH was initially created out of boredom during school, in a small notebook, and was inspired by a random block character drawn by someone else. However, BH quickly became much more than just a simple block character, serving as Zack’s companion and aid in the comic and animation. BH was often more blunt than Zack, but would still take the blame for their antics, all in good fun.</p>
        <p>Although BH’s original design was simple, with just two squares and eyes, he has since undergone a redesign to become BH1, a robotic character inspired by What Happened to Robot Jones and the Lord of Games from Banjo-Kazooie: Nuts &amp; Bolts. BH1 now features an LCD monitor for a face, with the speaker on the bottom serving as a mouth.</p>
    </div>
</div>
