@page "/characters/cirria"
<DynMeta PreviousPage="Characters" Name="Cirria" />
<div class="row">
    <div class="column">
        <DynImg Source="../../images/gallery/Cirria.png" />
    </div>
    <div class="column">
        <p>Cirria, a brown cat with lighter stripes along her forearms and white paws, was a character that only appeared once in my artwork. She wore a light greenish dress and was named after my beloved cat. While she was intended to foreshadow a fictional city I created as a kid named Kitty City, it was only hinted at and never actually named. It’s interesting to note that Kitty City was fully realized in Bridgeport, a city that was inspired by Zootopia.</p>
        <p>Drawing female characters has always been a challenge for me, as I am not very skilled with drawing breasts. So, the only way I could draw her was by giving her typical feminine clothing and hairstyle. Despite her brief appearance, Cirria remains a unique character in the Casey Universe, as she reflects my attempts to experiment with new character concepts and overcome artistic challenges.</p>
    </div>
</div>
