@page "/characters/drpuppy"
<DynMeta PreviousPage="Characters" Name="Dr Puppy" />
<div class="row">
    <div class="column">
        <DynImg Source="../../images/gallery/aotg_color_ref.png" />
    </div>
    <div class="column">
        <p>Dr. Puppy, the antagonist in the Attack of the Video Games comic and animation, is a dark brown dog with red spots. He was created out of pure boredom in school, in a small notebook. He had an unnamed robot henchman that served him loyally. Despite his cute name, he had a short temper and despised being called a puppy.</p>
        <p>Dr. Puppy was one of the few characters from that era to be adopted into newer, more mature incarnations. This was because he was one of the few characters that posed a legitimate threat to Zack, even if it was just played for laughs. His most notable portrayal was in the unpublished Sunset Trilogy series of stories, where he served as the main antagonist.</p>
        <p>In the Sunset Trilogy, Dr. Puppy is known as Savelli Cornell and attacks Bridgeport’s Central Tower, the city’s administrative building. At the time, Furtropolis was depicted as a city-state, and Dr. Puppy’s attack led to a civil war.</p>
    </div>
</div>
