@page "/characters/john"
<DynMeta Previous="Characters" Name="John" />
<div class="row">
    <div class="column">
        <DynImg Source="gallery/John_Model_Sheet.png" />
        <div class="row">
            <div class="column"><GalleryThumb Source="4th_of_july.png" CurrentPage="characters/john" /></div>
            <div class="column"><GalleryThumb Source="fried_brain.png" CurrentPage="characters/john" /></div>
            <div class="column"><GalleryThumb Source="when_i_was_little.png" CurrentPage="characters/john" /></div>
        </div>
    </div>
    <div class="column">
        <p>John, a brown fox, was one of the earliest deuteragonists in my earlier works. Introduced in my Fourth of July pic, John was often used as comic relief and featured prominently in Zack’s early pranks. However, as I gained new friends on DeviantART, John’s role in my artwork began to diminish, eventually fading into obscurity and becoming one of the many forgotten characters in my earlier works.</p>
        <p>Despite being left behind, John played an important role in shaping the early iterations of the Casey Universe. His inclusion in my artwork provided an opportunity for me to explore different character dynamics and relationships, paving the way for future characters to come.</p>
    </div>
</div>
