@page "/characters/roboz"
<DynMeta Previous="Characters" Name="RoboZ" />
<div class="row">
    <div class="column">
        <DynImg Source="gallery/z_meets_roboz.png" />
    </div>
    <div class="column">
        <p>RoboZ, inspired by Sega’s “Metal Sonic,” was a concept that was intended to play a similar role in my artwork. Though only appearing in one picture, the idea was to give RoboZ a formal debut a year or two later, in 2006 or 2007, in a dynamic pose, with his robotic paw on the ground. This pose was similar to Iron Man 3’s theatrical poster, which came out seven years later.</p>
        <p>However, due to early limitations art style, the plan to formally introduce RoboZ was abandoned. With my current freedom from style, I have thought about redesigning the character to better fit into Casey Universe.</p>
    </div>
</div>
