@page "/characters/zc"
    <DynMeta Root="Characters" Name="Zack Casey" />
    <div class="row">
        <div class="column">
            <img src="../../images/gallery/z_adorable2-5.png" />
            <div class="row">
                <div class="column"><GalleryThumb Source="the_future_dj.png" Path="modelsheets" /></div>
                <div class="column"><GalleryThumb Source="zc_rev08_modelsheet.png" Path="modelsheets" /></div>
                <div class="column"><GalleryThumb Source="z_kitten_model_sheet_1.png" Path="modelsheets" /></div>
            </div>
        </div>
        <div class="column"><p></p></div>
    </div>
