@page "/gallery"
<h2>Gallery</h2>
<div align="center">
    <p><Submission Picture="4th_of_july.png" /> <Submission Picture="a_random_hug.png" /> <Submission Picture="adorable_z_colored.png" /> <Submission Picture="alex.png" /> <Submission Picture="beach_photo.png" /> <Submission Picture="beach_time.png" /> </p>
    <p><Submission Picture="black_and_white.png" /> <Submission Picture="boxers_of_america.png" /> <Submission Picture="cat_z.png" /> <Submission Picture="Cirria.png" /> <Submission Picture="cookie.png" /> <Submission Picture="crazy_artist.png" /></p>
    <p><Submission Picture="do_the_bunni.png" /> <Submission Picture="Doom_Flakes.png" /> <Submission Picture="Doom_Flakes_-_Popochi.png" /> <Submission Picture="evil_mouse_XD.png" /> <Submission Picture="evil_mw77.png" /> <Submission Picture="for_sam.png" /></p>
    <p><Submission Picture="Friaser.png" /> <Submission Picture="fried_brain.png" /> <Submission Picture="gir.png" /> <Submission Picture="her_butt_blew_up.png" /> <Submission Picture="it_itchs.png" /><Submission Picture="it_itchs_-_remix.png" /></p>
    <p><Submission Picture="killed_sally.png" /> <Submission Picture="kim.png" /> <Submission Picture="link_gets_a_hug.png" /> <Submission Picture="megawolf.jpg" /><Submission Picture="mw77.png" /> <Submission Picture="my_tail.jpg" /></p>
</div>


@code {

}

