@page "/gallery"
    <h2>Gallery</h2>
    <div align="center">
        <p><Thumbnail ImageSrc="4th_of_july.png" /> <Thumbnail ImageSrc="a_random_hug.png" /> <Thumbnail ImageSrc="adorable_z_colored.png" /> <Thumbnail ImageSrc="alex.png" /> <Thumbnail ImageSrc="beach_photo.png" /> <Thumbnail ImageSrc="beach_time.png" /> </p>
        <p><Thumbnail ImageSrc="black_and_white.png" /> <Thumbnail ImageSrc="boxers_of_america.png" /> <Thumbnail ImageSrc="cat_z.png" /> <Thumbnail ImageSrc="Cirria.png" /> <Thumbnail ImageSrc="cookie.png" /> <Thumbnail ImageSrc="crazy_artist.png" /></p>
        <p><Thumbnail ImageSrc="do_the_bunni.png" /> <Thumbnail ImageSrc="Doom_Flakes.png" /> <Thumbnail ImageSrc="Doom_Flakes_-_Popochi.png" /> <Thumbnail ImageSrc="evil_mouse_XD.png" /> <Thumbnail ImageSrc="evil_mw77.png" /> <Thumbnail ImageSrc="for_sam.png" /></p>
        <p><Thumbnail ImageSrc="Friaser.png" /> <Thumbnail ImageSrc="fried_brain.png" /> <Thumbnail ImageSrc="gir.png" /> <Thumbnail ImageSrc="her_butt_blew_up.png" /> <Thumbnail ImageSrc="it_itchs.png" /><Thumbnail ImageSrc="it_itchs_-_remix.png" /></p>
        <p><Thumbnail ImageSrc="killed_sally.png" /> <Thumbnail ImageSrc="kim.png" /> <Thumbnail ImageSrc="link_gets_a_hug.png" /> <Thumbnail ImageSrc="megawolf.jpg" /><Thumbnail ImageSrc="mw77.png" /> <Thumbnail ImageSrc="my_tail.jpg" /></p>
    </div>


    @code {

    }

