@page "/copyright"
<h2>COPYRIGHT NOTICE</h2>
<p>This website, known as Casey Universe D.O.C. (hereafter referred to as the “Website”), was created by Tony Bark and is subject to the following copyright notice.</p>
<p>The contents of the Website are hereby waived under the public domain via the <a href="/copyright/cc0">Creative Commons 0 license</a>. This means that the content on the Website may be freely used, modified, and distributed without restriction, and without any need for attribution.</p>
<p>However, it is important to note that content from the former Z-Artists Club, as well as any collaborative work in which it is properly credited to the respective artist, remains copyrighted by their respective owners. In this regard, the Website serves as an archive for the former and no longer existing club that was hosted on DeviantART.</p>
<p>The code used on the Website is subject to the <a href="/copyright/agpl">Affero General Public License (AGPL)</a>. This means that the code may be used and modified, but any derivative works must also be licensed under the AGPL or a compatible license.</p>
<p>By accessing and using the Website, you agree to abide by these copyright terms and any applicable laws and regulations. Any unauthorized use of the Website or its contents may result in civil or criminal penalties.</p>
<h3>Copyrighted Characters</h3>
<div class="row">
    <div class="column">
        <ul>
            <li>Megawolf</li>
            <li>Popochi</li>
            <li>Sarah Ookami</li>
            <li>Coshi Dragonite</li>
            <li>Terry</li>
        </ul>
    </div>
    <div class="column">
        <ul>
            <li>Sonic the Hedgehog</li>
            <li>Shadow the Hedgehog</li>
            <li>Gir</li>
            <li>Teki</li>
            <li>Sleepi Bunni</li>
        </ul>
    </div>
</div>
