@page "/faq"
@page "/about/faq"
<DynMeta Previous="About" Name="FAQ" />
<div class="row">
    <div class="column" style="margin:5px;">
        <p><strong>What is DOC?</strong></p>
        <p>DOC stands for Document of Cartoons, and it’s an archive of all my work from roughly 2005 to 2009. It includes a variety of cartoons and illustrations that I created during that time.</p>
        <p><strong>Why did you make it?</strong></p>
        <p>I created DOC back in 2007 to archive my work from 2005 because my style had grown more complex and expressive. I wanted to have a record of my progress as an artist and keep all my work in one place.</p>
        <p><strong>What is Furry Blue DJ?</strong></p>
        <p>Furry Blue DJ was the name of my original website for my artwork. It started out as my character Zack’s alter-ego, and I used it as a way to showcase my art. When I finally had a chance to publish the site, Furry Blue DOC became its sister site, and I used it to archive my earlier work.</p>
        <p><strong>What is Casey Universe?</strong></p>
        <p>Casey Universe was originally the name for an unpublished trilogy that I had been working on. Over time, it evolved into a fictional universe that I created, full of my ideas and characters. It now serves as the direct successor to Furry Blue DJ, and I use it as a way to share my ongoing projects and ideas.</p>
        <p><strong>Why did you waive copyright of your artwork and characters?</strong></p>
        <p>I decided to waive copyright of my old artwork and characters because, in today's world, copyright doesn't always make sense. The only people who tend to benefit from life-plus-seventy-year copyright terms are large corporations and estates. When I created a lot of my earlier artwork, I was just a teenager having fun, and my understanding of copyright was limited. Theoretically speaking, the time when I could have actually profited off the artwork I made was back then, when my understanding of copyright had already become outdated during my childhood. Therefore, I believe that it is better to leave it in the public domain and share it with others who might enjoy it without any legal restrictions.</p>
        <p><strong>What tools did you use?</strong></p>
        <p>The majority of the artwork featured on DOC was created using Macromedia Flash Studio MX and later version 8. Adobe Photoshop 7 was also used as an additional tool for early scenery and lighting. Today, I still use Flash 8 to publish artwork that was never released and to export Flash animations as GIFs. However, my primary art tools have since changed, and I now use Affinity Designer 2 on my iPad or Wacom tablet.</p>
    </div>
    <div class="column" style="margin:5px;">
        <p><strong>What’s with the progress times?</strong></p>
        <p>DOC may seem simple, but it’s actually built using a web app framework called Blazor WebAssembly. This was the best option for me to host it without using PHP. As a result, it may take a bit longer to load and display images, especially if you have a slower internet connection.</p>
        <p><strong>If you’re using a web app framework, why not build it as a web app?</strong></p>
        <p>Not everything needs to be built as a web app. DOC is a simple gallery, but it still requires a lot of work to populate each section with images, such as the gallery, wallpaper, and gift art sections. Plus, building it as a web app would have required even more time and effort. I wanted to focus on the content and the user experience, so I decided to keep it simple and use a framework that allowed me to do that.</p>
        <p><strong>Even if you’re not going to make it a web app, why not use Bootstrap for the UI?</strong></p>
        <p>I have experimented with integrating Bootstrap into DOC, but the default light theme clashes with the natural dark look of DOC. I like the retro feel of DOC, and I think it’s nice to have something that feels like the early days of the internet. Even though the technology behind it is much more advanced, I enjoy the simplicity and nostalgia of the design.</p>
        <p><strong>How come DOC has a fixed width?</strong></p>
        <p>DOC’s fixed width is a product of its time. When I was creating the original artwork that is now featured on DOC, we didn’t have access to the same tools and computing power that we do now. We also didn’t have the ability to create higher resolution artwork than our monitors when we were publishing our work on DeviantART. As a result, the original artwork on DOC doesn’t require a higher resolution than what was available at the time.</p>
        <p><strong>What’s with the rating panda?</strong></p>
        <p>The rating panda badges featured on DOC were created by Amber Williams of Mab’s Land. They were originally intended to represent site ratings and were a popular way to indicate the content rating of a website. I discovered them around the time I was developing Furry Blue DJ and decided to include them on DOC. Recently, I found the original HTML files for DOC and realized that the rating panda badges were still present. While the site where they originated from is still up, it currently does not use HTTP secure.</p>
    </div>
</div>
<div>

</div>