@page "/about"
<h2>About</h2>
<!-- <Thumbnail Path="screenshots" Source="last_version_of_doc.png" Width="ThumbWidth.LARGE" Align="left" /> -->
<div class="row">
    <div class="column">
        <p>Inspired by Cartoon Network, I first created DOC as the Furry Blue DOC when I was 17 using Microsoft Frontpage 2003. I learned Frontpage back when mom brought me to some of her collage classes. I eventually installed it myself onto future desktops, at that time, to create my own websites. For reference, the artwork on this site dates back two years prior to the original site’s creation. Sometime later I attempted to maintain it using Dreamweaver 8 when I moved to macOS.</p>
        <p>It wasn’t until recently that I rediscovered it again in old cloud backup containing some art I previously considered lost. I restored and cleaned up to the best of my ability until I realized how complex the simple looking site really was underneath. Having moved on from WYSIWYG editors, I migrated the codebase to it once I discovered .NET 7 and Blazor WebAssembly using thier blank templates. Funny, how I’ve come full circle in using Microsoft’s products. xD</p>
    </div>
    <div class="column"></div>
</div>