@page "/comic/{Id}"
@inject HttpClient _client
@try
{
    @if (IsFinished)
    {
        <DynMeta Root="Comics" Name="@Issue" />
        <div align="center">
            <img src="/images/comics/@Filename" /><br />
            <a>Next Page</a>
        </div>
    }
    else
    {
        <LoadingBar />
    }
}
catch
{
    <NotFound />
}
@code {
    [Parameter] public string Id { get; set; } = string.Empty;
    string Filename { get; set; } = string.Empty;
    string Issue { get; set; } = string.Empty;
    int Page { get; set; } = 0;
    bool IsFinished { get; set; } = false;
    protected override async Task OnParametersSetAsync()
    {
        try
        {
            var file = await _client.GetStreamAsync(GlobalConsts.COMIC_CSV);
            var csv = ComicDB.Reader(file, int.Parse(Id));
            var records = SiteHelper.DatabaseRecords<Comic>(file);
            var pages = new Dictionary<int, string>();


            Filename = csv.Filename;
            Issue = csv.Issue;

            IsFinished = true;
        }
        catch (Exception err)
        {
            throw new Exception(err.Message);
        }
    }
}

