@page "/view/{Id}"
@inject HttpClient _client
@try
{
    @if (IsFinished)
    {
        <h2>@Title</h2>
        <div align="center">
            <img src="/images/@Path/@Filename" />
        </div>
    }
    else
    {
        <div align="center">
            <div class="progress-bar"></div>
        </div>
    }
}
catch
{
    <div align="center">
        <img src="images/XDsquare.png" />
        <p>Woops! Can't find the image.</p>
    </div>
}

@code {

    [Parameter] public string Id { get; set; } = string.Empty;
    string Filename { get; set; } = string.Empty;
    string Path { get; set; } = "gallery";
    string Title { get; set; } = string.Empty;
    bool IsFinished { get; set; } = false;

    protected override async Task OnParametersSetAsync()
    {
        try
        {
            var file = await _client.GetStreamAsync(GlobalConsts.GALLERY_CSV);
            var csv = GalleryDB.Reader(file, int.Parse(Id));

            Path = csv.Path;
            Filename = csv.Filename;

            if (!string.IsNullOrEmpty(csv.Title) || !string.IsNullOrWhiteSpace(csv.Title))
                Title = csv.Title;
            else
            {
                var oldName = Filename;
                var culture = new CultureInfo("en-US", false);
                var txtInfo = culture.TextInfo;

                Title = txtInfo.ToTitleCase(oldName
                    .Replace("zc", "Zack")
                    .Replace("_z", " Zack")
                    .Replace("z_", "Zack ")
                    .Replace('_', ' ')
                    .Replace(".png", string.Empty)
                    .Replace(".jpg", string.Empty)
                    .Replace(".gif", string.Empty)
                    .ToString());
            }

            IsFinished = true;
        }
        catch (Exception err)
        {
            throw new Exception(err.Message);
        }
    }
}

