<div class="featured">
    <a href="/view/gallery/@FeaturedImage"><img src="/images/gallery/@FeaturedImage" /></a>
</div>


@code {
    string FeaturedImage { get; set; } = string.Empty;

    protected override Task OnParametersSetAsync()
    {
        var rand = new Random();
        var gallery = new string[] {
            "cat_z",
            "boxers_of_america",
            "z_meets_roboz",
            "battery_park",
            "the_pepsi",
            "rain_go_away",
            "get_something_done",
            "zc_paint",
            "z_goes_camping",
            "win_xp_insane",
            "on_the_train",
            "z_adorable2-5",
            "beach_time",
            "zc_paint_v2",
            "me_as_a_fox",
            "zc_cooks",
            "Zindows_Trista", // I just made that because I was disappointed at not getting Longhorn
            "rvb_z_welcome",
            "spit_bomber_tails",
            // "above_the_world",
            "Sims_Trophie",
            "sallys_dark_world"
            };

        FeaturedImage = $"{gallery[rand.Next(gallery.Length)]}.png";

        return base.OnParametersSetAsync();
    }
}

