@inject HttpClient _client
<div class="featured">
    <a href="/view/@Id"><img src="/images/gallery/@FeaturedImage" /></a>
</div>


@code {
    string FeaturedImage { get; set; } = string.Empty;
    string Id { get; set; } = string.Empty;

    protected override async Task OnParametersSetAsync()
    {
        var file = await _client.GetStreamAsync(GlobalConsts.GALLERY_CSV);
        var csv = SiteHelper.DatabaseRecords<Gallery>(file);

        csv.RemoveAll(db => db.Path.Contains("animations")
        || db.Path.Contains("modelsheets")
        || db.Path.Contains("wallpaper")
        || db.Path.Contains("stories")
        || db.Filename.Contains("be_my_buddy.png"));

        var rand = new Random();
        var index = rand.Next(csv.Count);
        var feature = csv[index];

        FeaturedImage = feature.Filename;
        Id = feature.Id.ToString();
    }
}

