@inject HttpClient _client
<div class="featured">
    <a href="/view/@Id"><img src="/images/gallery/@FeaturedImage" /></a>
</div>


@code {
    string FeaturedImage { get; set; } = string.Empty;
    string Id { get; set; } = string.Empty;

    protected override async Task OnParametersSetAsync()
    {
        var file = await _client.GetStreamAsync(GlobalConsts.GALLERY_CSV);
        var csv = SiteHelper.GalleryRecords(file);
        var rand = new Random();
        var index = rand.Next(csv.Count);

        if (!csv[index].Path.Contains("animations")
            || !csv[index].Path.Contains("modelsheets")
            || !csv[index].Path.Contains("wallpaper"))
        {
            var feature = csv[index];

            FeaturedImage = feature.Filename;
            Id = feature.Id.ToString();
        }
        else
            index = rand.Next(csv.Count);
    }
}

