<div class="featured">
    <a href="/view/gallery/@FeaturedImage"><img src="/images/gallery/@FeaturedImage" /></a>
</div>


@code {
    string FeaturedImage { get; set; } = string.Empty;

    protected override Task OnParametersSetAsync()
    {
        var rand = new Random();
        var gallery = new string[] {
            "cat_z",
            "boxers_of_america",
            "z_meets_roboz",
            "the_pepsi",
            "z_goes_camping",
            "win_xp_insane",
            "on_the_train",
            "z_adorable2-5",
            "rvb_z_welcome",
            "spit_bomber_tails",
            "above_the_world",
            "Sims_Trophie"
            };

        FeaturedImage = $"{gallery[rand.Next(gallery.Length)]}.png";

        return base.OnParametersSetAsync();
    }
}

