<div class="featured">
    <a href="/view/gallery/@FeaturedImage"><img src="/images/gallery/@FeaturedImage" /></a>
</div>


@code {
    string FeaturedImage { get; set; } = string.Empty;

    protected override Task OnParametersSetAsync()
    {
        var rand = new Random();
        var gallery = new string[] {
            "cat_z.png",
            "boxers_of_america.png",
            "z_meets_roboz.png",
            "the_pepsi.png",
            "z_goes_camping.png",
            "win_xp_insane.png",
            "on_the_train.png",
            "z_adorable2-5.png",
            "rvb_z_welcome.png"
            };

        FeaturedImage = gallery[rand.Next(gallery.Length)];

        return base.OnParametersSetAsync();
    }
}

