@inject HttpClient _client
<div class="featured">
    <a href="/@Path/@Id?previous=/home"><img src="/images/@Path/@FeaturedImage" /></a>
</div>


@code {
    /// <summary>
    /// Gets or sets the file name of the featured image.
    /// </summary>
    string FeaturedImage { get; set; } = string.Empty;

    /// <summary>
    /// Gets or sets the ID of the image path.
    /// </summary>
    string Id { get; set; } = string.Empty;

    /// <summary>
    /// Gets or sets the path of the image.
    /// </summary>
    string Path { get; set; } = string.Empty;

    /// <summary>
    /// This method is called whenever the component's parameters are set or updated. It sets the values of the FeaturedImage, Path, and Id properties with random values from a CSV file. The method removes some specific records from the CSV before selecting a random image.
    /// </summary>
    protected override async Task OnParametersSetAsync()
    {
        var file = await _client.GetStreamAsync(GlobalConsts.GALLERY_CSV);
        var csv = SiteHelper.DatabaseRecords<Gallery>(file);

        // Remove invalid paths and filenames from the csv.
        csv.RemoveAll(db => db.Path.Contains("animations")
        || db.Path.Contains("stories")
        || db.Filename.Contains("be_my_buddy.png"));

        var rand = new Random();
        var index = rand.Next(csv.Count);
        var feature = csv[index];

        // Set the values for the featured image properties.
        FeaturedImage = feature.Filename;
        Path = feature.Path;
        Id = feature.Id.ToString();
    }

}

