<div align="center">
    <div class="row">
        <div class="column">
            <p align="center">
                <img src="images/ratings/rating_14c.gif" width="100" />
            </p>
        </div>
        <div class="column">
            <div>
                <p align="center"><a href="/about">About</a> - <a href="https://github.com/tonytins/cudoc">View source code</a></p>
            </div>
        </div>
        <div class="column">
            <p align="center">
                <a href="/copyright">
                    <img alt="Public Domain Dedication" width="100" src="images/cc-zero.png" />
                </a>
            </p>
        </div>

    </div>
</div>
