<div align="center">
    <div class="row">
        <div class="column">
            <p align="center">
                <img src="images/ratings/rating_14c.gif" width="100" />
            </p>
        </div>
        <div class="column">
            <div>
                <p align="center">
                    <!-- <a href="/about">About</a> - --> <a href="/faq">FAQ</a>
                </p>
            </div>
        </div>
        <div class="column">
            <p>
                <a href="https://github.com/tonytins/cudoc">
                    <FontAwesome Icon="github" Brand="true" />
                </a>
                <a href="@MASTODON_LINK">
                    <FontAwesome Icon="mastodon" Brand="true" />
                </a>
                <a href="https://www.patreon.com/tonytins">
                    <FontAwesome Icon="patreon" Brand="true" />
                </a>
                <a href="https://www.deviantart.com/tonytins">
                    <FontAwesome Icon="deviantart" Brand="true" />
                </a>
                <a href="https://tonytins.bandcamp.com/">
                    <FontAwesome Icon="bandcamp" Brand="true" />
                </a>
                <a href="https://soundcloud.com/tonytins">
                    <FontAwesome Icon="soundcloud" Brand="true" />
                </a>
            </p>
        </div>
        <div class="column">
            <p align="center">
                <a href="/copyright">
                    <img alt="Public Domain Dedication" width="100" src="images/cc-zero.png" />
                </a>
            </p>
        </div>
    </div>
</div>

@code {
    const string MASTODON_LINK = "https://tonybark.com/@tonytins";
}