<div align="center">
    <div class="row">
        <div class="column">
            <p align="center">
                <img src="images/ratings/rating_pgc.gif" width="100" />
            </p>
        </div>
        <div class="column">
            <div align="center">
                To the extent possible under law, Tony Bark has waived all copyright and related or neighboring rights to
                Furry Blue D.O.C.
            </div>
        </div>
        <div class="column">
            <a rel="license" href="/legal">
                <img alt="Public Domain Dedication" width="100" src="images/cc-zero.png" />
            </a>
        </div>

    </div>
</div>
