<DebugBar />
<div class="topnav">
    <a href="/"><img src="images/doc_logo.png" /></a>
    <a href="/gallery">Gallery <FontAwesome Icon="image" /></a>
    <!-- <a href="/comics">Comics <FontAwesome  Icon="comment" /></a> -->
    <a href="/stories">Stories <FontAwesome Icon="book" /></a>
    <a href="/animations">Animations <FontAwesome Icon="film" /></a>
    <a href="/gifts">Gifts <FontAwesome Icon="gifts" /></a>
    <a href="/wallpaper">Wallpaper <FontAwesome Icon="paint-roller" /></a>
    <a href="/characters">Characters <FontAwesome Icon="paw" /></a>
    <!--  <a href="/links">Links <FontAwesome  Icon="arrow-pointer" /></a> -->
</div>