<DebugBar />
<div class="topnav">
    <a href="/"><img src="images/doc_logo.png" /></a>
    <div class="dropdown">
        <button class="dropbtn" href="/gallery">Gallery <FontAwesome Icon="image" /></button>
        <div class="dropdown-content">
            <a href="/animations">Animations <FontAwesome Icon="film" /></a>
            <a href="/gifts">Gifts <FontAwesome Icon="gifts" /></a>
            <a href="/wallpaper">Wallpaper <FontAwesome Icon="paint-roller" /></a>
        </div>
    </div>
    <!-- <a href="/comics">Comics <FontAwesome  Icon="comment" /></a> -->
    <a href="/stories">Stories <FontAwesome Icon="book" /></a>
    <a href="/music">Music <FontAwesome Icon="radio" /></a>
    <a href="/characters">Characters <FontAwesome Icon="paw" /></a>
</div>