<div class="topnav">
    <a href="/"><img src="images/doc_logo.png" /></a>
    <a href="/gallery">Gallery</a>
    <a href="/comics">Comics</a>
    <a href="/animations">Animations</a>
    <a href="/wallpaper">Wallpaper</a>
    <a href="/characters">Characters</a>
    <a href="/history">History</a>
    <a href="/links">Links</a>
</div>

@code {

}

