<DebugBar />
<div class="topnav">
    <a href="/"><img src="images/doc_logo.png" /></a>
    <a href="/gallery">Gallery <FontAwesome Solid="true" Icon="image" /></a>
    <!-- <a href="/comics">Comics</a> -->
    <a href="/stories">Stories <FontAwesome Solid="true" Icon="book" /></a>
    <a href="/animations">Animations <FontAwesome Solid="true" Icon="film" /></a>
    <a href="/gifts">Gifts <FontAwesome Solid="true" Icon="gifts" /></a>
    <a href="/wallpaper">Wallpaper <FontAwesome Solid="true" Icon="paint-roller" /></a>
    <!--  <a href="/characters">Characters</a>
    <a href="/links">Links <FontAwesome Solid="true" Icon="arrow-pointer" /></a> -->
</div>