<a href="/view/animations/@Source"><img src="/images/thumbnails/animations/tn_@Thumbnail" /></a>

@code {
    [Parameter] public string Source { get; set; } = string.Empty;
    [Parameter] public string Thumbnail { get; set; } = string.Empty;
}