@inherits LayoutComponentBase
<div class="content">
    <header>
        <MenuBar />
    </header>
    <div class="page">
        <main>
            @Body
        </main>

    </div>
    <footer>
    </footer>
</div>