@inherits LayoutComponentBase
<div class="content">
    <header>
        <MenuBar />
    </header>
    <div class="container">
        <main>
            @Body
        </main>

    </div>
    <footer>
        <LegalNotice />
    </footer>
</div>