<div class="doc_container">
    <div class="doc_row">
        <div class="doc_column doc_folder"><img height="130" src="../images/thumbnails/@Thumbnail"></div>
    </div>
    <div class="doc_row"><p align="center">@Name</p></div>
</div>

@code {
    [Parameter] public string Thumbnail { get; set; } = "";
    [Parameter] public string Name { get; set; } = "Example";

}

