<div align="center">
    <table border="0">
        <tr>
            <td>
                <img src="images/Censor_PGc.gif" width="100" height="35" />
            </td>
            <td>
                <div width="300" align="center">
                    To the extent possible under law, Tony Bark has waived all copyright and related or neighboring rights to
                    Furry Blue D.O.C.
                </div>
            </td>
            <td>
                <a rel="license" href="/license">
                    <img alt="Public Domain Dedication"
                         width="100" src="images/cc-zero.png" />
                </a>
            </td>
        </tr>
    </table>
</div>
