<a href="/view/@Path/@Picture"><img src="/images/@Path/@Picture" width="150" /></a>

@code {
    [Parameter] public string? Picture { get; set; }
    [Parameter] public string? Path { get; set; } = "gallery";
}
