@inject HttpClient _client
@if (!string.IsNullOrEmpty(Align))
{
    <a href="/view/@Id"><img src="/images/@Path/@Source" width="@Width" align="@Align" /></a>
}
else
{
    <a href="/view/@Id"><img src="/images/@Path/@Source" width="@Width" /></a>
}

@code {
    [Parameter] public string Source { get; set; } = string.Empty;
    [Parameter] public int Width { get; set; } = ThumbWidth.SMALL;
    [Parameter] public string Align { get; set; } = string.Empty;

    string Path { get; set; } = string.Empty;
    string Id { get; set; } = string.Empty;

    protected override async Task OnParametersSetAsync()
    {
        try
        {
            var file = await _client.GetStreamAsync(GlobalConsts.GALLERY_CSV);
            var csv = GalleryDB.Reader(file, Source);

            Path = csv.Path;
            Id = csv.Id.ToString();
        }
        catch (Exception err)
        {
            throw new Exception(err.Message);
        }
    }
}
