@if (!string.IsNullOrEmpty(Align))
{
    <div align="@Align">
        <img src="/images/@Path/@Source" width="@Width" />
        @if (!string.IsNullOrEmpty(Caption))
        {
            <br />@Caption
        }
    </div>
}
else
{
    <div>
        <img src="/images/@Path/@Source" width="@Width" />
        @if (!string.IsNullOrEmpty(Caption))
        {
            <br />@Caption
        }
    </div>
}

@code {
    [Parameter] public string Source { get; set; } = string.Empty;
    [Parameter] public string Path { get; set; } = "gallery";
    [Parameter] public string Align { get; set; } = string.Empty;
    [Parameter] public string Link { get; set; } = string.Empty;
    [Parameter] public int Width { get; set; } = ThumbWidth.SMALL;
    [Parameter] public string Caption { get; set; } = string.Empty;
}
