@page "/stories/ferretgirl/part1"
    <DynMeta PreviousPage="Stories" Name="Curse of the Freet Girl: Part 1" />
    <p>Written by Carlis Moore.</p>
    <p align="center"><a href="/stories/ferretgirl/part2">Part 2</a></p>
    <p align="center">
        Z: Verry.... cute. *drools* <br />
        <br />
        Terry: :D Good!<br />
        <br />
        *snatches her hand, and runs*<br />
        Terry: You'll never catch us! hahaha!<br />
        * runs into a brick wall*<br />
        *Z giggles and tip toes over to unnamed ferret's
        sis*<br />
        *grabs her hand &amp; runs like mad*<br />
        *looks back and spits like crazy at Terry*<br />
        *looks forward again and hits a stop sign*<br />
        *Terry Watches in a daze as unnamed ferret's sis
        is suddenly abducted by a ufo*<br />
        *Then grabs Z, and jumps onbored the ufo*<br />
        *...Sonic the hedgehog suddenly busts out the side
        of the ufo with a large plate of metal*<br />
        Sonic: &quot;Talk about low-budget flights! No food or
        movies? I'm outta here. I like running better. &quot;<br />
        *Watches in awe as Sonic does a 1800, then falls
        to a street far below*<br />
        O.o That was odd...<br />
        *Z looks at Terry while Terry looks Z with
        confection*<br />
        Terry: Are you ok?- <br />
        Z: She mines!!! <br />
        *runs to the front of the ship*<br />
        Terry: But you don't even know how to.... never
        mind&quot; <br />
        *looks out the window with a sigh*<br />
        Terry:(I wonder what a she-mine is...)<br />
        --------------------[later...]-----------<br />
        Ferret's unnamed sis: What are you doing?<br />
        Z: Stealing you.<br />
        Ferret's unnamed sis: Besides that. -_-<br />
        Z: Oh were going to mars. ^_^<br />
        Ferret's unnamed sis: Why? :EVIL EYE OF DOOM!!!:<br />
        Z: Uh... oh look a barbie<br />
        *Ferret's unnamed sis looks out the window while Z
        push's the ship into full throttle*<br />
        Terry: Should be anytime now.... *looks at watch*<br />
        Ferret's unnamed sis: You do know how to drive
        this, right?<br />
        Z: Not really... ^^;<br />
        Terry: 3... 2... 1...<br />
        <br />
        <strong>BLAM!!!!!</strong><br />
        <br />
        *The ship crash's into a building*<br />
        Everyone: Why are we still here?<br />
        (moments pass)<br />
        Terry: ... by the time this ends, we'll have a
        long book on our hands, but I digress. Why ARE we still here?<br />
        Shadowed figure: Because I wish it...izzle!<br />
        Everone: But who are you!?<br />
        Z: And whats with the &quot;izzle&quot;?<br />
        SF: ... I don't know, izzle. But I can-izzle tell
        you that I was sent here to retrieve the unamed sister of the unamed
        ferret...person...izzle.<br />
        *Z grabs thr girls hand, and runs off-screen *
        (who knew there was a screen to begin with?)<br />
        *suddenly, everything becomes very anime-ish*<br />
        *Shadowed figure becomes a super-Saiyan, and
        throws a bomb that explodes to release an vannila-flavored gas*<br />
        *Terry Suddely throws a randon jewel into the air*<br />
        Terry: Moon Jewel Beacon Activate!!!<br />
        *Suddenly, Travis falls from the sky, and...*<br />
        THWAM!<br />
        *Z runs back on-screen, and into the ufo*<br />
        Travis: What happen?<br />
        Terry: *cough* Someone set up us the bomb-izzle.<br />
        Terry: I send signal-izzle.<br />
        Travis: *coughs* What-izzle!<br />
        Zc: *cough* Main person listen to-izzle.<br />
        Travis: It's you!!<br />
        ShadowFigure: How are you gentlemen!!<br />
        Kid: All your base are belong to izzle-Kid.<br />
        Kid: You are -izzle- on the way to destruction.<br />
        UnnamedSisterofUnamedFerret: What you say? *cough*
        izzle?<br />
        Terry: Izzle Gas? ...What The Izzle?<br />
        Kid: You have no chance to izzle make your izzle.<br />
        Kid: Ha ha ha? izzle!<br />
        *gas clears, and Travis...disintergrates*<br />
        Zc: NO MORE OF THIS &quot;IZZLE&quot; CRAP!<br />
        *Suddely realizes he, Ferret's sis, and everone
        else has become anime-tized*<br />
        Kid: Ferret-girl! You are the chosen one! This
        world is the fabrication of bored humans! Now you must return to your drawing!<br />
        Terry/Z: Not if I can help it!<br />
        Z: Zdouken!<br />
        *fires a gigantic fireball at Kid, that is much
        larger than the planet...and Kid knocks it torwad the sun*<br />
        Terry: Quad-Doppelganger Skill: Shimering Lunar
        Slash!<br />
        *accidentaly slashes Z until he's wearing nothing
        but underclothing*<br />
        *Everyone stares at Z*<br />
        Z: ... *blushes*<br />
        Ferret's unnamed sis: MINE! *Glomps*<br />
        Terry: ... Now that I think about it...I'm not
        sure if you're really worth the trouble. ^_^;;<br />
        Z: Don't be such a spoiled sport just because she
        likes me more than you.<br />
        Terry: She does not... do you?<br />
        *Fireball destroys the sun*
    </p>
    <p align="center"><a href="/stories/ferretgirl/part2">Part 2</a></p>