@page "/stories/ferretgirl/part2"
    <h2>Curse of the Freet Girl: Part 2</h2>
    <div>
        <p align="center"><a href="/stories/ferretgirl/part1">Part 1</a></p>
    </div>
    <p align="center">
        *Fireball destroys the sun*<br />
        *Terry, Z, &amp; Ferrets unnamed sis, fly into space*<br />
        Terry: I'm not even going to ask why got shot into space. -_-<br />
        Z: I gotta bigger question, why are we able to breath? XD<br />
        Ferret's unnamed sis: Look! *points to floating gum*<br />
        Terry: No don't eat it! It might be...<br />
        *Z eats the gum*<br />
        Terry: ...poisons.<br />
        Z: Wow that is good, I want more.<br />
        Ferret's unnamed sis: Let me try.<br />
        *She tries some*<br />
        Ferret's unnamed sis: Oh that is good.<br />
        Terry: You guys are insane.<br />
        Z: You bet!
        <br />
        Later...<br />
        Terry: Full yet?<br />
        <br />
        Z: Hold on...
        <br />
        *Z eats the last peace of gum*
        <br />
        Z: Ok, now I'm now full.
        <br />
        Terry: Do you hear something?
        <br />
        Ferret's Unnamed Sis: I didn't do it!
        <br />
        Terry: What are you talking about?
        <br />
        Ferret's Unnamed sis: Oh uhh... ^^; nevermind.
        <br />
        Terry: Good becouse a something is coming.
        <br />
        *Terry stops as they both float in space a train comes from the distanse and stops near the 3*
        <br />
        Z: Cool a train!!!
        <br />
        Terry: A train!?! I was hoping for a ship.
        <br />
        Ferret's unnamed Sis: Will you losen up? Least we got a ride!
        <br />
        Terry: Fine.
        <br />
        *Terry gets in along with Z and Ferret's unnamed sis*
        <br />
        An hour later
        <br />
        Z: Are we there yet!?!
        <br />
        Terry: Were's there? We are we going anyway. O_o
        <br />
        *Shadow comes out of a no were as Terry watchs*
        <br />
        Shadow the hedgehog: Forbiddin planet.
        <br />
        *Then he flashs into thin air*
        <br />
        Terry: Forbiddin planet!!!! This is all your falt Z you know that.
        <br />
        *Z giggles and says softly*
        <br />
        Z: -Izzle.
        <br />
        Terry: ..and stop it with the izzle.
        <br />
        Ferret's unnamed Sis: -Izzle.
        <br />
        Terry: You to.
        <br />
        Ferrets unnamed Sis: Damn,
        <br />
        Z: I'm bored.
        <br />
        Terry: You and what army.
        <br />
        *As time passes with them being bored to death the space train reachs Forbiddin planet*
        <br />
        Z: Hey look, were here.
        <br />
        Z &amp; Ferret's unnamed Sis: Were scared.
    </p>
    <div>
        <p align="center"><a href="/stories/ferretgirl/part1">Part 1</a></p>
    </div>